# Python bytecode cache
__pycache__/
*.py[cod]

# Python packaging artifacts
*.egg-info/
dist/
build/

# Environment variables
.env

# Vector Database
db/

# Virtual Environment
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/